<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <div style="display: flex; justify-content: space-between;align-items: center;">
      <h1>My Products</h1>
      <a class="btn" style="height: 30px;display: flex;" href=" /admin/add-product"><span style="margin:auto">Add Product</span></a>
    </div>
    <% if(products.length) { %>
    <div>
      <% for (const product of products) { %>
      <div class="product-list-card">
        <img src="https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5921.jpg" alt="book-image" width="150px">
        <div style="width: 100%;">
          <h3 style="margin-top: 0;"><%= product.title %></h3>
          <div style="font-weight: bold;"><%= product.price %></div>
          <div>
            <%= product.author %>, <%= product.year %>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap;">
          <!-- <form action="<%= `/admin/edit-product/${product.id}` %>" method="get">
            <input type="text" name="id" value="<%= product.id %>" style="display: none;">
          <button type="submit" style="margin-bottom: 10px;">Edit</button>
          </form> -->
          <a class="btn" style="margin-bottom: 10px;" href="/admin/edit-product/<%= product.id %>">Edit</a>
          <form action="/admin/delete-product" method="post">
            <input type="text" name="id" value="<%= product.id %>" style="display: none;">
            <button type="submit" class="btn-red">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <span>Currently there is no product to display</span>
    <% } %>
  </main>
</body>

</html>