<%- include('../includes/head.ejs') %>
<script src="/javascript/numFormat.js"></script>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main style="text-align: center;">
    <h1><%= product.title %></h1>
    <hr>
    <img src="https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5921.jpg" alt="book-image" width="300px" style="border-radius: 5px;">
    <div id="price" style="font-weight: bold;"><%= product.price %></div>
    <div>
      <%= product.author %>, <%= product.year %>
    </div>
    <div style="margin-top: 25px;">
      <form action="/cart" method="post">
        <input type="text" name="id" style="display: none;" value="<%= product.id %>">
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </main>
  <script>
    const priceEl = document.getElementById('price')
    priceEl.innerHTML = `Rp. ${numFormat('<%= product.price %>')}`
  </script>
</body>

</html>